/*colors: 
light brown: #F3F0F0;
mid brown: #e0e0e0;
dark brown: #504a46;
orange: #EC6F66;

*/

body {
	text-align: center;
	font-family: Helvetica;
	font-size: 16px;
	line-height: 150%;
	color: #504a46;
}

h1 {
	font-size: 52px;
	/*font-weight: bold;*/
	font-weight: 600;
	letter-spacing: 1.5px;
	line-height: 1.5;
}

h2 {
	font-size: 32px;
	/*font-weight: bold;*/
	letter-spacing: 1.25px;
}

h3 {
	font-size: 18px;
	letter-spacing: 1.25px;
}

a {
	text-decoration: none;
}

/*@media (max-width: 500px){
	header ul li {
		display: block;
		text-align: left;
	}
	header ul {
		display: block;
	}

}*/

header {
	position: fixed;
	z-index: 1;
	display: block;
	border-bottom: 1px solid #e0e0e0;
	padding: 20px 80px 0 80px;
	background: #F3F0F0;
	width: 100%;
	min-width: 550px;
}

header h3 a {
	color: #504a46;
	font-weight: 500;
	display: inline;
	float: left;
	/*position: absolute;*/
	text-align: left;
	margin-top: -20px;
}

header h3 a:hover{
	color: #EC6F66;
}

header ul{
	display: inline;
	margin: -20px 140px 15px 80px;
	float: right;
	/*text-align: right;*/
}

header ul li {
	display: inline;
	padding: 0 15px;
}

header ul li a {
	display: inline;
	text-decoration: none;
	color: #504a46
}

header ul li a:hover {
	color: #EC6F66;
}

.bodyDivs {
	padding: 20px 80px;
	display: block;
	position: relative;
}

#landingSection {
	background: #F3F0F0;
}

#landingFeatureSection {
	position: relative;
	max-width: 700px;
	margin: 230px auto;
	min-width: 700px;
	display: inline-block;
}

.imageHolder {
	display: inline-block;
	float: left;
	position: relative;
}

.introPhoto img{
	width: 80%;
	float: left;
}

#silly {
	display: none;
}

#pointing {
	display: none;
	border-radius: 125px;
}

#pointing img {
	display: none;
}

#helloMessage {
	position: relative;
	float: right;
	display: inline-block;
	text-align: left;
}

#helloMessage h1 {
	font-weight: 500;
	line-height: 1.5;
}

#helloMessage h2 {
	font-weight: 500;
}

#skillsSection{
	background-color: #EC6F66;
	color: white;
}

#skillIconsSection{
	margin-bottom: 50px;
}

#introArrow{
	margin: -20px auto 0 auto;
}

#skillsTitle {
	margin-bottom: 10px;
}

#skillsSection a{
	/*color: white;*/
	font-weight: bold;
	color: #504a46;
}

.skillsIntro{
	margin: 0 auto;
	text-align: left;
	max-width: 900px;
}


.blurbs {
	display: none;
}

.skillImgs {
	display: none;
	height: 350px;
	float: center;
	margin: 25px auto;
	margin-top: 50px;
	text-align: center;
}

.skillImgs img {
	height: 350px;
}

/*.productThumbnails {
	width: 250px;
	margin: 10px;
}

#skillsMosaic{
	text-align: center;
	float: center;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
}*/

#skillsTabs{
	width: 900px;
	margin: 50px auto;
	text-align: center;
	display: block;
}

.skillTitles {
	display: none;
}

.skillTile {
	margin: 10px;
	width: 200px;
	display: inline-block;
}

.skillTile img{
	width: 175px;
}

#featuresSection{
	background-color: #F3F0F0;
	border-bottom: #504a46 solid 1px; 
	height: 850px;
}

#featuresContainer {
	position: relative;
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

.leftBlock {
	float: left;
	width: 45%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.leftBlock h1 {
	margin-bottom: 10px;
}

.rightBlock {
	float: right;
	width: 50%;
	display: inline-block;
	/*margin: 0 auto;*/
	display: relative;
	/*right: 0;*/
}

#featuresContainer .rightBlock{
}

#featuresContainer .leftBlock p a{
	color: #EC6F66;
	text-decoration: none;
}

#featuresContainer .rightBlock{
	margin-top: 125px;
}

.rightBlock img {
	width: 350px;
	right: 0;
}

#media {
	margin: 0 auto;
	top: 50px;
	text-align: center;
	clear: both;
	display: block;
	position: relative;
	margin-left: -50px;
}

.videoHolder{
	display: inline-block;
}

.videoHolder #cnn{
	float: left;
	width: 45%;
	/*margin-right: 55px;*/
}

#phoenix {
	float: right;
	width: 45%;
	/*	margin-left: 75px;
padding-left: 50px;*/
}

#contactSection{
	background-color: #F3F0F0;
	height: 725px;
}

#contactContainer{
	width: 900px;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	display: block;
	margin-top: 50px;
}



input{
	border: 0;
	line-height: 1.5;
}

.button{
	background-color: #EC6F66;
	/*background-color: #e0e0e0;*/
	height: 35px;
	width: 100px;
	margin-right: 20px;
	border-radius: 10px;
	color: white;
}

.inputField{
	height: 30px;
	border-radius: 5px;
	margin: 10px 0px;

}

#comment {
	height: 150px;
	width: 385px;
}

#contactContainer .leftBlock {
	width: 50%;
	position: relative;
	margin-top: 0px;
}

#contactContainer .rightBlock {
	width: 50%;
	position: relative;
	margin-top: 125px;
}

#contactContainer .rightBlock img {
	width: 350px;
	position: relative;
}


#footer {
	background-color: #504a46;
	opacity: 1;
	height: 30px;
	display: block;
	bottom: 0;
	/*margin-top: 150px;*/
	clear: both;
}

#footer a {
	text-decoration: none;
	color: white;
}

#footer div {
	float: center;
	top: 0px;
	text-align: center;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}